<div id="app">
  <div class="inner" v-bind:class="{'is-visible': showDetail}" v-bind:style="{'--bg': bg, 'margin-right': -scrollWidth + 'px'}">
    <div class="filter">
      <input type="text" class="filter__input" placeholder="Name or Value" v-model="filterString" @input="filterColorName"/>
      <label class="filter-color">
        <input v-model="pickedColor" type="color" @input="filterColor"/>
        <span class="wheel"></span>     
      </label>
    </div>
    <virtual-scroller
      page-mode
      :items="colorList"
      content-tag="div"
      :item-height="66"
    >
      <template scope="colors">
        <div class="color" v-on:click="showLarge($event, colors.item)" v-bind:class="{'is-dark': isDark(colors.item.rgb)}" :style="{'--color': colors.item.hex}" :key="colors.item.hex">
          <strong data-name>{{colors.item.name}}</strong>
          <span data-hex>{{colors.item.hex}}<i v-if="colors.item.hex == '#f0c'">k</i></span>
        </div>
      </template>
    </virtual-scroller>
    <div class="dialog" ref="dialog">
      <div class="dialog__bg" ref="bg"></div>
      <div class="dialog__header">
        <h1>{{title}}</h1>
        <h2>{{hex}}</h2>
      </div>
    </div>
  </div>
</div>